* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap: none;
  -webkit-tap-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  margin: 0px;
}

body #overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 90;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(108, 114, 147);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(108, 114, 147);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(108, 114, 147);
}

::selection {
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.side-bar-elements::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(0, 0, 0);
  background-color: rgb(25, 28, 36);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(43, 48, 65);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(15, 16, 21);
}
/* prelaoder */
.pre-loader {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background-size: 100%;
  z-index: 100;
}
.pre-loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid rgb(108, 114, 147);
  border-right: 10px solid rgb(108, 114, 147);
  border-bottom: 10px solid rgb(108, 114, 147);
  border-left: 10px solid transparent;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disappear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* navigation bar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 70px;
  position: sticky;
  top: 0px;
  background-color: rgb(25, 28, 36);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#toggle-button {
  display: none;
}

nav ul {
  width: 100%;
  height: 50px;
  list-style-type: none;
  color: rgb(108, 114, 147);
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  float: left;
}
nav ul a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: rgb(108, 114, 147);
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

nav ul a li i {
  font-size: 25px;
  color: rgb(108, 114, 147);
  padding-left: 5px;
  padding-right: 5px;
}

nav ul .userContainer {
  width: 35px;
  background-color: rgb(25, 28, 36);
  height: 35px;
  display: flex;
  margin-right: 5px;
  border-radius: 50%;
  float: right;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav ul i {
  font-size: 25px;
  color: rgb(108, 114, 147);
  float: right;
  cursor: pointer;
  padding-bottom: 1px;
  transition: all 0.5s linear;
}
nav ul a:hover i,
nav ul .userContainer:hover i {
  color: rgb(255, 255, 255);
}
nav ul a:hover i {
  transform: translateY(-5px);
}
#toggle-button:hover i {
  color: rgb(255, 255, 255);
  transform: translateY(0px);
}

/* side bar card */
.side-bar-card {
  display: flex;
  position: relative;
  background-color: rgb(25, 28, 36);
  color: rgb(108, 114, 147);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.side-bar-elements {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.side-bar-elements li {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* side bar */
#side-bar {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(25, 28, 36);
  color: rgb(108, 114, 147);
  box-shadow: 5px 0px 10px rgb(0, 0, 0, 0.2);
  z-index: 20;
}

#close-side-bar {
  display: none;
}
#close-side-bar:hover {
  background-color: rgb(15, 15, 20);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

#close-side-bar:active {
  transform: scale(0.95);
}

#coolmaths-icon img {
  height: 80px;
  width: 80px;
}
/* Hover side bar items */
.active-item {
  border-left: solid 5px rgb(0, 144, 231);
  color: white;
  font-weight: bold;
  background-color: rgb(15, 16, 21);
}
.side-bar-elements li:hover {
  color: white;
  background-color: rgb(15, 16, 21);
}

/* Cards */
.card {
  display: none;
  position: relative;
  background-color: rgb(25, 28, 36);
  color: rgb(108, 114, 147);
  flex-wrap: wrap;
  width: 95%;
  height: 100%;
  margin: 2.5%;
  border-radius: 10px;
}

.active-card {
  display: flex;
}

.inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 40px;
  margin: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 210, 91);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}

/* hover on add button */
.inner-card:hover {
  opacity: 0.8;
}

.inner-card:active {
  transform: scale(0.95);
}

/*main*/
#main {
  float: right;
  width: calc(100% - 250px);
  box-sizing: border-box;
}

/* main body content */
#main-body-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#loading {
  display: block;
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: 1s linear infinite loading-spinner;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#message-screen {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow: hidden;
}

#coolmaths-books .books {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  background-color: rgb(25, 28, 36);
  width: 100%;
  height: 100%;
}
/* Cards */
.book-card a {
  text-decoration: none;
  color: rgb(108, 114, 147);
  cursor: pointer;
  text-transform: capitalize;
}
.book-card {
  display: flex;
  flex: 25%;
  position: relative;
  justify-content: center;
  background-color: rgb(13, 23, 33);
  color: rgb(108, 114, 147);
  flex-wrap: wrap;
  max-width: 25%;
  height: 400px;
  margin: 30px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s linear;
}
.book-card img {
  width: 100%;
  height: 80%;
  margin: 0;
}

.book-card:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 2px rgb(0, 144, 231);
}

.book-card:hover a {
  color: rgb(255, 255, 255);
}
.book-card a:hover {
  color: rgb(229, 255, 0);
}

/*footer*/
#mainFooter {
  clear: both;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px -5px 5px rgb(0, 0, 0, 0.2);
  z-index: 99;
}
#footerElements {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
}

.icons {
  display: block;
  margin: auto 2.5%;
  width: 95%;
  background-color: rgb(25, 28, 36);
  border-radius: 10px;
}
#mainFooter #footerElements .contents h2 {
  font-size: 18px;
  color: rgb(100, 100, 100);
}
#mainFooter #footerElements .contents {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  width: 12%;
  margin: 30px;
  line-height: 32px;
  padding: 0px;
  border-radius: 10px;
}

#mainFooter #footerElements ul li:hover a {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

#mainFooter #footerElements ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(200, 200, 200);
  text-align: center;
  text-transform: capitalize;
}
#mainFooter p {
  clear: both;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(108, 114, 147);
  background-color: rgb(0, 0, 0);
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 10px;
}

#mainFooter .social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#mainFooter center h2 {
  padding-top: 20px;
  color: rgb(108, 114, 147);
}
#mainFooter .social-media-icons a {
  width: 60px;
  margin: 40px 40px;
  color: rgb(146, 154, 198);
  text-decoration: none;
  line-height: 100px;
}
#mainFooter .social-media-icons a i {
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(146, 154, 198);
  border-radius: 50%;
  transition: all 0.5s linear;
}
#mainFooter .social-media-icons a:hover i {
  transform: scale(1.3);
  color: rgb(200, 170, 0);
  border-color: rgb(200, 170, 0);
  box-shadow: 0 0 5px rgb(200, 170, 0);
}

/*responsiveness*/

@media only screen and (max-width: 2560px) {
}

@media only screen and (max-width: 900px) {
  #left::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* show toggle button */
  #toggle-button {
    display: inline-block;
  }
  /* side bar responsiveness */
  #side-bar {
    top: 70px;
    left: -250px;
    z-index: 30;
  }

  #main {
    width: 100%;
  }

  #left,
  #img1 {
    display: none;
  }
  #mainFooter .social-media-icons a {
    margin: 2rem 20px;
  }

  #mainFooter p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 650px) {
  #left::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }

  #mainFooter .social-media-icons a {
    margin: 2rem 15px;
  }

  #main header #img2 {
    transform: scale(0.9);
  }
  #mainFooter p {
    font-size: 21px;
  }
}

@media only screen and (max-width: 550px) {
  #left::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }

  #mainFooter .social-media-icons a {
    transform: scale(0.9);
    margin: 2rem 10px;
  }

  #main header #img2 {
    transform: scale(0.8);
  }
  #mainFooter p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  #left::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  nav ul a {
    margin-right: 8px;
    margin-left: 8px;
  }
  #mainFooter .social-media-icons a {
    margin: 2rem 5px;
    transform: scale(0.8);
  }
  #main header #img2 {
    transform: scale(0.7);
  }
  #mainFooter p {
    font-size: 19px;
  }
}

@media only screen and (max-width: 350px) {
  #left::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  nav ul a {
    margin-right: 3px;
    margin-left: 3px;
  }
  #mainFooter .social-media-icons a {
    margin: 2rem 0px;
  }
  #mainFooter p {
    font-size: 18px;
  }
  #main header #img2 {
    transform: scale(0.6);
  }
}
/*responsiveness*/
